# OAuth2 Secrets
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Database Secrets
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT Security
JWT_SECRET=

# Local Integration Test Database Secrets
TEST_DB_URL=
TEST_DB_USERNAME=
TEST_DB_PASSWORD=